{{- if not (lookup "scheduling.k8s.io/v1" "PriorityClass" "" "high-priority") }}
apiVersion: scheduling.k8s.io/v1
kind: PriorityClass
metadata:
  name: high-priority
value: 1000000
globalDefault: false
  #preemptionPolicy: Never
description: High priority class for critical workloads
---
{{- end }}
{{- if not (lookup "scheduling.k8s.io/v1" "PriorityClass" "" "medium-priority") }}
apiVersion: scheduling.k8s.io/v1
kind: PriorityClass
metadata:
  name: medium-priority
value: 500000
globalDefault: true
preemptionPolicy: Never
description: Medium priority class for standard workloads
---
{{- end }}
{{- if not (lookup "scheduling.k8s.io/v1" "PriorityClass" "" "low-priority") }}
apiVersion: scheduling.k8s.io/v1
kind: PriorityClass
metadata:
  name: low-priority
value: 100000
globalDefault: false
preemptionPolicy: Never
description: Low priority class for non-critical workloads
{{- end }}