name: Release Charts

on:
  push:
    branches:
      - main

jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Add Helm repositories
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add airflow https://airflow.apache.org
          helm repo add docker-registry https://twuni.github.io/docker-registry.helm
          helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
          helm repo add nvidia-dcgm https://nvidia.github.io/dcgm-exporter/helm-charts
          helm repo add nvidia-device-plugin https://nvidia.github.io/k8s-device-plugin
          helm repo update

      - name: Update chart dependencies
        run: |
          helm dependency update charts/keops


      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
